<!DOCTYPE html>
<html>
    <head>
        <title>Tea Station</title>
    </head>
    <body>
        <h1>Bem-Vindo Tea Station</h1>
        <p>Nosso best-selling tea é <%= bestSellingTea %>.</p>
    </body>
</html>